<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Quintas del Recreo</title>

    <link rel="shortcut icon" href="~/Imagenes/logo.PNG">

    <!-- Estilos CSS -->
    <link rel="stylesheet" type="text/css" href="~/css/site.css">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    <!-- Remixicon y Boxicons -->
    <link href="https://cdn.jsdelivr.net/npm/remixicon@3.2.0/fonts/remixicon.css" rel="stylesheet">
    <link rel="stylesheet" href="https://unpkg.com/boxicons@latest/css/boxicons.min.css">

    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Varela&display=swap" rel="stylesheet">
    <!-- Bootstrap Icons -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css" rel="stylesheet">

    <!-- Boxicons -->
    <link rel="stylesheet" href="https://unpkg.com/boxicons@2.1.0/css/boxicons.min.css">



    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

    <!-- Bootstrap JS -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <!-- Bootstrap CSS -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)

    <style>
        * {
            padding: 0;
            margin: 0;
            box-sizing: border-box;
            font-family: 'Varela', sans-serif;
            text-decoration: none;
            list-style: none;
        }

        header {
            
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 20px;
            background-color: #1E4C40;
            color: #ffffff;
        }

        .navbar {
            display: flex;
            align-items: center;
            justify-content: flex-end; /* Ajuste aquí */
        }

            .navbar a {
                color: #ffffff;
                margin-left: 20px;
                text-decoration: none;
                transition: color 0.3s ease;
            }

                .navbar a:hover {
                    color: #84c7a2;
                }

                .navbar a.active {
                    color: #84c7a2;
                }

        /* Estilos del footer */
        footer {
            background-color: #1E4C40;
            
        color: var(--text-color);
        padding: 40px 0;
    }

    .container {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    .social-links, .quick-links, .contact-info {
        flex: 1;
        margin: 0 20px;
    }

    .social-links h2, .quick-links h2, .contact-info h2 {
        border-bottom: 2px solid var(--text-color);
        padding-bottom: 15px;
        margin-bottom: 25px;
    }

    .sci {
        list-style-type: none;
        padding: 0;
    }

    .sci li {
        display: inline-block;
        margin-right: 20px;
    }

    .sci li:last-child {
        margin-right: 0;
    }

    .sci a {
        color: var(--text-color);
        font-size: 24px;
    }

    .quick-links ul, .contact-info ul {
        list-style-type: none;
        padding: 0;
    }

    .quick-links ul li, .contact-info ul li {
        margin-bottom: 10px;
    }

    .quick-links a, .contact-info a {
        color: var(--text-color);
        text-decoration: none;
        transition: color 0.3s ease;
    }

    .quick-links a:hover, .contact-info a:hover {
        color: #84c7a2;
    }

    .contact-info ul li {
        display: flex;
        align-items: center;
        margin-bottom: 10px;
    }

    .contact-info li span {
        margin-right: 15px;
        font-size: 28px;
        vertical-align: middle;
    }

    .contact-info li p {
        margin: 0;
    }

    .copyrightText {
        text-align: center;
        margin-top: 20px;
        padding-top: 10px;
        border-top: 1px solid var(--text-color);
    }

    .copyrightText p {
        margin: 10px;
    }

    .bi {
        vertical-align: middle;
    }

    

        /* Estilos específicos del logo */
        .logoSTEL img {
            height: 80px; /* Adjust height as needed */
            width: auto; /* Maintain aspect ratio */
            margin-right: 10px; /* Space between logo and text */
        }
    </style>
</head>
<body>

    <!-- Header -->
    @if (Context.Request.Path.Value.Contains("paginainicioModulos"))
    {
        <!-- Navbar del Dashboard -->
        <nav class="navbar navbar-expand-lg" style="background-color: #0c4128;padding: 0.5rem 0.5rem;">
            <div class="container-fluid">
                <a asp-controller="Home" asp-action="paginainicioModulos" class="navbar-brand">
                    <img src="~/imagenes/logo.PNG" alt="LogoSTEL" height="70px" width="200px" class="d-inline-block align-text-top">
                </a>
                <button class="navbar-toggler btn btn-light" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNavDropdown">
                    <ul class="navbar-nav">
                        <li class="nav-item fs-3">
                            <a class="nav-link active text-white" aria-current="page" asp-controller="Home" asp-action="paginainicioModulos">
                                Quintas Del Recreo
                            </a>
                        </li>
                        <li class="nav-item fs-3">
                            <a class="nav-link text-white" asp-controller="Novedades" asp-action="Listar">
                                <i class="bi bi-file-text text-white">Novedades</i>
                            </a>
                        </li>
                        <li class="nav-item align-self-center">
                            <a class="nav-link active text-white d-flex justify-content-end" aria-current="page" asp-controller="Home" asp-action="Index">
                                <i class="bi bi-door-closed-fill">Salir</i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    }
    else
    {
        <!-- Navbar normal -->
        <header>
            <a asp-controller="Home" asp-action="Index" class="logo" style="text-decoration: none;">
                <img src="~/imagenes/logo.PNG" id="LogoSTEL" height="70px" width="200px" />
            </a>
            <ul class="navbar">
                <li><a asp-controller="Home" asp-action="Index" class="active">Inicio</a></li>
                <li><a asp-controller="Home" asp-action="SobreNosotros">Sobre nosotros</a></li>
                <li><a asp-controller="Home" asp-action="Servicios">Servicios</a></li>
                <li><a asp-controller="Home" asp-action="Contactenos">Contáctenos</a></li>
                <li><a asp-controller="Usuarios" asp-action="Ingresar" class="user"><i class="ri-user-6-line"></i>Ingresar</a></li>
            </ul>
        </header>
    }

    <!-- Contenido de la página -->
    @RenderBody()

    <!-- Footer -->
    @if (Context.Request.Path.Value.Contains("paginainicioModulos"))
    {
        <!-- Footer para paginainicioModulos con texto en blanco -->
        <footer style="background-color: #0c4128; color: white;">
            <!-- Contenido del footer -->
            <div class="container">
                <div class="social-links">
                    <h2>Redes Sociales</h2>
                    <ul class="sci">
                        <li><a href="https://web.facebook.com/profile.php?id=100092684344485" style="color: white;"><i class="fab fa-facebook-f"></i></a></li>
                        <li><a href="https://twitter.com/StelLinesw" style="color: white;"><i class="fab fa-twitter"></i></a></li>
                        <li><a href="error404.html" style="color: white;"><i class="fab fa-instagram"></i></a></li>
                        <li><a href="https://www.youtube.com/channel/UCVmFWIOd-M3doOMcZY0QUxA" style="color: white;"><i class="fab fa-youtube"></i></a></li>
                    </ul>
                </div>
                <div class="quick-links">
                    <h2>Sitios de Interés</h2>
                    <ul>
                        <li><a href="mapaSitio.html" style="color: white;">Mapa del Sitio</a></li>
                    </ul>
                </div>
                <div class="contact-info">
                    <h2>Horarios de Atención</h2>
                    <ul>
                        <li>
                            <span><i class="far fa-clock" style="color: white;"></i></span>
                            <p style="color: white;"><a href="mailto:cquintasdelrecreo1@gmail.com" style="color: white;">cquintasdelrecreo@gmail.com</a></p>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="copyrightText" style="color: white;">
                <p>© 2024 Stel Software - Todos los Derechos reservados.</p>
            </div>
        </footer>
    }
    else
    {
        <!-- Footer normal -->
        <footer>
            <!-- Contenido del footer -->
            <div class="container">
                <div class="social-links">
                    <h2>Redes Sociales</h2>
                    <ul class="sci">
                        <li><a href="https://web.facebook.com/profile.php?id=100092684344485"><i class="fab fa-facebook-f"></i></a></li>
                        <li><a href="https://twitter.com/StelLinesw"><i class="fab fa-twitter"></i></a></li>
                        <li><a href="error404.html"><i class="fab fa-instagram"></i></a></li>
                        <li><a href="https://www.youtube.com/channel/UCVmFWIOd-M3doOMcZY0QUxA"><i class="fab fa-youtube"></i></a></li>
                    </ul>
                </div>
                <div class="quick-links">
                    <h2>Sitios de Interés</h2>
                    <ul>
                        <li><a href="mapaSitio.html">Mapa del Sitio</a></li>
                    </ul>
                </div>
                <div class="contact-info">
                    <h2>Horarios de Atención</h2>
                    <ul>
                        <li>
                            <span><i class="far fa-clock"></i></span>
                            <p><a href="mailto:cquintasdelrecreo1@gmail.com">cquintasdelrecreo@gmail.com</a></p>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="copyrightText">
                <p>© 2024 Stel Software - Todos los Derechos reservados.</p>
            </div>
        </footer>
    }

</body>
</html>
