@model ParqueaderoModel
@{
    ViewData["Title"] = "Guardar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div class="card" class="form-container" style="width: 600px; margin: 0 auto; padding: 20px;">
    <div class="card-header">
        Crear Parqueadero
    </div>
    <div class="card-body">
        <form asp-action="Guardar" asp-controller="Parqueadero" method="post" class="form-container" style="width: 500px; margin: 0 auto; padding: 20px;">
            <div class="mb-3">
                <label for="tipo_parqueadero" style="margin-top: 15px; margin-bottom: 10px; font-weight: 700; color:#1E4C40" class="form-label">Tipo Parqueadero</label>
                <input type="text" asp-for="tipo_parqueadero" class="form-control" id="asunto" maxlength="65" placeholder="Carro/Moto Visitante/Propietario" required>
            </div>
            <div class="mb-3">
                <label for="estado_parqueadero" style="margin-top: 15px; margin-bottom: 10px; font-weight: 700; color:#1E4C40" class="form-label">Estado Parqueadero</label>
                <input type="text" asp-for="estado_parqueadero" class="form-control" id="descripcion" maxlength="65" placeholder="Habilitado / Inhabilitado" required>
            </div>
            <div class="mb-3">
                <label for="fec_parqueadero" style="margin-top: 15px; margin-bottom: 10px; font-weight: 700; color:#1E4C40" class="form-label">Fecha</label>
                <input type="datetime-local" asp-for="fec_parqueadero" class="form-control" id="estado" maxlength="65" placeholder="Fecha">
            </div>
            <div class="mb-3">
                <label for="dvte_parqueadero" style="margin-top: 15px; margin-bottom: 10px; font-weight: 700; color:#1E4C40" class="form-label">Datos Vehículo</label>
                <input type="text" asp-for="dvte_parqueadero" class="form-control" placeholder="Datos Vehículo" required>
            </div>
            <div class="mb-3">
                <label for="cup_parqueadero" style="margin-top: 15px; margin-bottom: 10px; font-weight: 700; color:#1E4C40" class="form-label">Número de cupo</label>
                <input type="number" asp-for="cup_parqueadero" class="form-control" id="remitente" aria-describedby="Remitente" maxlength="30" placeholder="Número de cupo" required>
            </div>
            <div class="mb-3">
                <label for="hora_salida" style="margin-top: 15px; margin-bottom: 10px; font-weight: 700; color:#1E4C40" class="form-label">Hora Salida</label>
                <input type="datetime-local" asp-for="hora_salida" class="form-control" id="respuesta" maxlength="65" placeholder="Hora salida">
            </div>
            <div class="mb-3">
                <label for="tar_parqueadero" style="margin-top: 15px; margin-bottom: 10px; font-weight: 700; color:#1E4C40" class="form-label">Tarifa</label>
                <input type="number" asp-for="tar_parqueadero" class="form-control" id="descripcion" maxlength="65" placeholder="Tarifa" required>
            </div>
            <button type="submit" class="btn btn-primary">Guardar</button>
            <a asp-action="Guardar" asp-controller="Parqueadero" class="btn btn-warning">Volver a la lista</a>

        </form>

    </div>
</div>


