@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Contenido de la página de inicio -->

<div class="Inicio">
    <div class="llamadoAccion">
        <div class="contenedorLlamadoAccion">
            <div class="box">
                <a href="@Url.Action("SobreNosotros", "Home")">
                    <img src="~/Imagenes/bannerInicio.png" alt="bannerInicio" />
                </a>
                <span class="conoceMas">Conoce más</span>
            </div>
        </div>
    </div>
</div>
