@{
    ViewData["Title"] = "Servicios";
}

<div class="Servicios">
    <h1>Servicios <i class="bi bi-signpost-2-fill"></i></h1>
    <div class="row row-cols-1 row-cols-md-3 g-4">
        <div class="col">
            <div class="card-Servicios">
                <img src="~/imagenes/administracion.png" alt="administracion" />
                <div class="card-body">
                    <h5 class="card-title">Administración <i class="bi bi-building-up"></i></h5>
                    <p class="card-text">Gestión integral de los recursos, transformando el conjunto en un lugar seguro para un entorno de calidez y armonía.</p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card-Servicios">
                <img src="~/imagenes/parqueadero.png" alt="parqueadero" />
                <div class="card-body">
                    <h5 class="card-title">Parqueadero <i class="bi bi-car-front"></i></h5>
                    <p class="card-text">Gestión de entrada y salida de vehículos. Podrás disfrutar de tu espacio asignado sin preocupaciones.</p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card-Servicios">
                <img src="~/imagenes/correspondencia.jpg" alt="correspondencia"/>
                <div class="card-body">
                    <h5 class="card-title">Comunicación <i class="bi bi-megaphone"></i></h5>
                    <p class="card-text">Gestión de la comunicación al interior del conjunto. Podrás estar al tanto de las novedades y correspondencia.</p>
                </div>
            </div>
        </div>
    </div>
</div>
