@{
    ViewData["Title"] = "Sobre Nosotros";
}

<!-- Contenido de Sobre Nosotros -->
<div class="SobreNosotros">

    <div class="card">
        <div class="card-header" style="background-color: #1E4C40; color: white;">
            <h1>Sobre Nosotros <i class="bi bi-house-fill"></i></h1> <!-- Cambiado el icono a "bi-house-fill" -->
        </div>
        <div class="card-body">
            <blockquote class="blockquote mb-0">
                <h2>Conjunto Residencial Quintas del Recreo Primera Etapa</h2>
                Quintas del Recreo primera etapa, es un Cojunto de Propiedad Horziontal,
                entregado a los copropietarios en el año 2001.
                Consta de 240 inmuebles distribuidos en 10 andenes.
                En las zonas comunes la copropiedad cuenta con:
                Parqueadero comunal con capacidad de 41 espacios para motos y 55 espacios para vehículos.
                Además cuenta con un parque infantil para el aprovechamiento de los niños que integran el conjunto.
                Dispone de un salón comunal social.
            </blockquote>
        </div>
    </div>

    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <div class="carousel-indicators">
            <button type="button" data-target="#carouselExampleIndicators" data-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-target="#carouselExampleIndicators" data-slide-to="1" aria-label="Slide 2"></button>
            <button type="button" data-target="#carouselExampleIndicators" data-slide-to="2" aria-label="Slide 3"></button>
            <button type="button" data-target="#carouselExampleIndicators" data-slide-to="3" aria-label="Slide 4"></button> <!-- Agregamos este botón -->
        </div>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="~/imagenes/casas.png" class="d-block w-100" alt="casas" />
            </div>
            <div class="carousel-item">
                <img src="~/imagenes/casas2.png" class="d-block w-100" alt="casas2" />
            </div>
            <div class="carousel-item">
                <img src="~/imagenes/parque.png" class="d-block w-100" alt="parque" />
            </div>
            <div class="carousel-item">
                <img src="~/imagenes/gimnasio.png" class="d-block w-100" alt="gimnasio" />
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-target="#carouselExampleIndicators" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-target="#carouselExampleIndicators" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>

</div>
