* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Varela', sans-serif;
    text-decoration: none;
    list-style: none;
}

:root {
    --bg-color: #F2DA91;
    --text-color: #ffffff;
    --main-color: #1E4C40;
    --error-color: #a11129;
    --correcto-color: #1ed12d;
}

/* Barra de Navegaci�n */

/* Estilos del header */
.Inicio {
    padding: 90px;
}

.llamadoAccion {
    margin-bottom: 40px;
}

.contenedorLlamadoAccion {
    display: flex;
    justify-content: center;
    align-items: center;
}

.box {
    position: relative;
    margin: 0px;
    
}

    .box img {
        max-width: 100%;
        height: auto;
        margin-top: -50px;
    }

.conoceMas {
    position: absolute;
    bottom: 20px;
    left: 75%;
    transform: translate(-50%, -50%);
    padding: 10px 20px;
    background-color: #1E4C40;
    color: #ffffff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    z-index: 1;
}

    .conoceMas:hover {
        background-color: #84c7a2;
    }

.SobreNosotros {
    text-align: center;
    margin-top: 150px;
    margin-bottom: 100px;
    display: flex;
    justify-content: center; /* Centramos horizontalmente */
    align-items: center; /* Centramos verticalmente */
    flex-direction: column; /* Alineamos los elementos en columna */
}

.card {
    margin: 30px auto;
    max-width: 800px;
    border-radius: 15px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    margin-top: 30px;
}

.card-header {
    background-color: #1E4C40;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    padding: 20px;
    font-size: 2.5rem;
}

    .card-header h1 {
        margin: 0;
        font-size: 2rem;
        color: var(--text-color);
    }

.card-body {
    padding: 30px;
    font-size: 1.2rem;
    line-height: 1.6;
}

.carousel {
    margin-top: 50px;
    margin-bottom: 50px;
    width: 800px;
    margin-left: auto;
    margin-right: auto;
    background-size: cover;
}

.carousel-indicators {
    bottom: -30px;
}

.carousel-control-prev,
.carousel-control-next {
    font-size: 1rem;
}

.carousel-inner {
    border-radius: 15px;
    height: 400px;
}

.carousel-item img {
    border-radius: 15px;
    height: 400px;
    object-fit: cover;
    max-width: 100%;
    width: auto;
}
.Servicios h1 {
    color: var(--main-color);
    text-align: center;
    font-size: 4.5rem;
    font-weight: 800;
    margin-bottom: 50px;
    margin-top: 100px;
}

.Servicios {
    color: var(--main-color);
    text-align: center;
    font-size: 1.5rem;
    margin-top: 20px;
    margin-bottom: 50px;
}

.card-Servicios {
    margin-top: 20px;
    margin-bottom: 20px;
    border: 1px solid #e0e0e0;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease;
    font-size: 1rem;
    max-width: 350px;
    margin-left: auto;
    margin-right: auto;
}

    .card-Servicios:hover {
        box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
    }

    .card-Servicios img {
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
        margin-top: 0;
        max-height: 200px;
        object-fit: cover;
        width: 100%;
    }

    .card-Servicios .card-body {
        padding: 15px;
    }

    .card-Servicios .card-title {
        font-size: 1.2rem;
        margin-bottom: 10px;
    }

    .card-Servicios .card-text {
        font-size: 0.9rem;
        text-align: justify;
    }
h1 {
    text-align: center;
    margin-top: 150px;
    color: var(--main-color);
    font-weight: bold;
    font-size: 2.5rem;
    padding: 50px;
}

.Contactanos {
    color: var(--main-color);
    text-align: center;
    font-size: 1.5rem;
    margin-top: 20px;
    margin-bottom: 50px;
}

.contact-info .icon {
    display: flex;
    align-items: center;
    justify-content: center;
}

    .contact-info .icon i {
        font-size: 2rem;
    }

.contact-info .info h5 {
    font-size: 1.2rem;
    margin-bottom: 5px;
}

.contact-info .info p {
    font-size: 1rem;
}

.contact-form .form-control {
    margin-bottom: 15px;
}

.card {
    margin-top: 30px;
    background-color: var(--bg-color);
    color: var(--main-color);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease;
    width: 1100px;
}

    .card:hover {
        box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
    }

.card-title {
    font-size: 1.5rem;
    margin-bottom: 15px;
}
.btn-success {
    width: 100%;
    padding: 15px; /* Aumentar el padding para darle más tamaño */
    font-size: 18px;
    font-weight: 600;
    background-color: #1E4C40;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
    .btn-success:hover {
        background-color: #1E4C40;
        opacity: 0.8; /* Cambiamos el color de hover del botón */
    }
iframe {
    width: 760px;
    height: 400px; /* Ajusta este valor según lo que necesites */
    border: none;
    border-radius: 10px;
}
h1 {
    text-align: center;
    margin-top: 50px;
    color: var(--main-color);
    font-size: 1.5rem;
    font-weight: bold;
}

.Ingresar-container {
    max-width: 400px;
    margin: 50px auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.form-group {
    margin-bottom: 20px;
}

.form-label {
    font-weight: bold;
    color: var(--main-color);
    font-size: 1.5rem;
}

.btn-success {
    background-color: #28a745;
    border-color: #28a745;
}

    .btn-success:hover {
        background-color: #218838;
        border-color: #1e7e34;
    }

.form-control {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #1E4C40;
}

.btn-block {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    background-color: var(--main-color);
    color: #fff;
    border: none;
}

    .btn-block:hover {
        background-color: #218838;
    }
