@model Stel.Models.NovedadesModel
@{
    ViewData["Title"] = "Editar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div class="card">
    <div class="card-header">
        Editar Novedad
    </div>
    <div class="card-body">
        <form asp-action="Editar" asp-controller="Novedades" method="post">

            <input asp-for="id" type="hidden" class="form-control">
            <div class="mb-3">
                <label for="asunto_novedades" style="margin-top: 15px; margin-bottom: 10px; font-weight: 700; color:#74a587" class="form-label">Asunto Novedad</label>
                <input type="text" asp-for="asunto_novedades" class="form-control" id="asunto" maxlength="65" placeholder="Asunto">
                <span asp-validation-for="asunto_novedades" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label for="desc_novedades" style="margin-top: 15px; margin-bottom: 10px; font-weight: 700; color:#74a587" class="form-label">Descripción Novedad</label>
                <input type="text" asp-for="desc_novedades" class="form-control" id="descripcion" maxlength="65" placeholder="Descripción">
                <span asp-validation-for="desc_novedades" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label for="est_novedades" style="margin-top: 15px; margin-bottom: 10px; font-weight: 700; color:#74a587" class="form-label">Estado Novedad</label>
                <input type="text" asp-for="est_novedades" class="form-control" id="estado" maxlength="65" placeholder="Estado">
                <span asp-validation-for="est_novedades" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label for="fec_novedades" style="margin-top: 15px; margin-bottom: 10px; font-weight: 700; color:#74a587" class="form-label">Fecha Novedad</label>
                <input type="date" asp-for="fec_novedades" class="form-control" id="fecha">
                <span asp-validation-for="fec_novedades" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label for="rem_novedades" style="margin-top: 15px; margin-bottom: 10px; font-weight: 700; color:#74a587" class="form-label">Remitente Novedad</label>
                <input type="text" asp-for="rem_novedades" class="form-control" id="remitente" aria-describedby="Remitente" maxlength="30" placeholder="Nombre" pattern="[A-Za-z\s]+" title="Ingresa solo letras y espacios">
                <span asp-validation-for="rem_novedades" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label for="res_novedades" style="margin-top: 15px; margin-bottom: 10px; font-weight: 700; color:#74a587" class="form-label">Respuesta Novedad</label>
                <input type="text" asp-for="res_novedades" class="form-control" id="respuesta" maxlength="65" placeholder="Respuesta">
                <span asp-validation-for="res_novedades" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label for="tipo_novedad" style="margin-top: 15px; margin-bottom: 10px; font-weight: 700; color:#74a587" class="form-label">Tipo Novedad</label>
                <input type="text" asp-for="tipo_novedad" class="form-control" id="descripcion" maxlength="65" placeholder="Tipo Novedad (Residente/Vigilante/Todero/Admin)">
                <span asp-validation-for="tipo_novedad" class="text-danger"></span>
            </div>
            <button type="submit" class="btn btn-primary">Guardar</button>
            <a asp-action="Listar" asp-controller="Novedades" class="btn btn-warning">Volver a la lista</a>
        </form>
    </div>
</div>

